* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/fundo.png");
  background-size: 110%;
  background-repeat: no-repeat;
}

.ret1 {
  position: absolute;
  width: 200px;
  height: 805px;
  left: 0px;
  top: 0px;
  z-index: 1;

  background-color: #2f5034;
}

.ret2 {
  position: absolute;
  width: 158px;
  height: 740px;
  left: 19px;
  top: 20px;

  background: #6d9364;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.56);
  border-radius: 30px;
  z-index: 2;
}

.topo {
  position: absolute;
  width: 1100px;
  height: 40px;
  left: 216px;
  top: 26px;

  background: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
}

.fundo {
  position: absolute;
  width: 1130px;
  height: 780px;
  left: 200px;
  top: 26px;

  background: #e9f5e4;
  opacity: 0.65;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.barra1 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 216px;
  top: 85px;

  background: #447a4d;
  border-radius: 22px;
}

.barra2 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 494px;
  top: 85px;

  background: #447a4d;
  border-radius: 22px;
}

.barra3 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 769px;
  top: 85px;

  background: #447a4d;
  border-radius: 22px;
}

.barra4 {
  position: absolute;
  width: 270px;
  height: 101px;
  left: 1044px;
  top: 85px;

  background: #447a4d;
  border-radius: 22px;
}

.grafic_bar {
  position: absolute;
  width: 1100px;
  height: 263px;
  left: 216px;
  top: 200px;

  background: #ffffff;
  border-radius: 15px;
}

.uac {
  position: absolute;
  width: 490px;
  height: 280px;
  left: 223px;
  top: 480px;

  background: #ffffff;
  border-radius: 15px;
}

.ued {
  position: absolute;
  width: 590px;
  height: 134px;
  left: 728px;
  top: 480px;

  background: #ffffff;
  border-radius: 15px;
}

.ldtea {
  position: absolute;
  width: 290px;
  height: 134px;
  left: 728px;
  top: 630px;

  background: #ffffff;
  border-radius: 15px;
}

.containers {
  position: absolute;
  width: 290px;
  height: 134px;
  left: 1028px;
  top: 630px;

  background: #ffffff;
  border-radius: 15px;
}

.uac_bar {
  position: absolute;
  width: 137px;
  height: 22px;
  left: 223px;
  top: 480px;

  background: #878787;
  border-radius: 10px 0px;
}

.ued_bar {
  position: absolute;
  width: 137px;
  height: 22px;
  left: 728px;
  top: 480px;

  background: #878787;
  border-radius: 10px 0px;
}

.ldtea_bar {
  position: absolute;
  width: 137px;
  height: 22px;
  left: 728px;
  top: 630px;

  background: #878787;
  border-radius: 10px 0px;
}

.containers_bar {
  position: absolute;
  width: 137px;
  height: 22px;
  left: 1028px;
  top: 630px;

  background: #878787;
  border-radius: 10px 0px;
}
