body {
  margin: 0;
  padding: 0;
}

.container-conteudo {
  margin: auto;
  max-width: 1000px;
}

header {
  display: flex;
  justify-content: left;
  gap: 350px;
  margin-top: 59px;
  margin-bottom: 50px;
}

.imagemLogo {
  width: 249px;
  height: 64px;
}

ul {
  list-style: none;
  display: flex;
  gap: 76px;
}

a {
  text-decoration: none;
}

.menu {
  width: 59px;
  height: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #35432f;
}

.info {
  display: flex;
  gap: 80px;
}

.info-titulo {
  margin-top: 0;
  width: 537px;
  height: 122px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 61px;
  color: #35432f;
}

.grafico{
  width: 512px;
  height: 376px;
  left: 791px;
}

.info-text {
  width: 455px;
  height: 68px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 168.4%;
  color: #35432f;
}

.btn-site {
  display: inline-block;
  padding: 15px 89px;
  background: #acd1a1;
  border-radius: 30px;
  margin-top: 56px;
  font-size: 20px;
  margin-right: 22px;
}

.btn-sobre {
  display: inline-block;
  padding: 15px 89px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 30px;
  color: #35432f;
}

h4 {
  width: 115px;
  height: 34px;
  margin-top: 110px;
  margin-left: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 168.4%;
  color: rgba(53, 67, 47, 0.81);
}

.img-arqui {
  width: 1120px;
  height: 100px;
  left: 160px;
  top: 869px;
}

.img-arqui img {
  width: 1120px;
  height: 100px;
}
