body {
  margin: 0;
  padding: 0;
}

.container-conteudo {
  margin: auto;
  max-width: 1000px;
}

header {
  display: flex;
  justify-content: left;
  gap: 350px;
  margin-top: 59px;
  margin-bottom: 50px;
}

.imagemLogo {
  width: 249px;
  height: 64px;
}

ul {
  list-style: none;
  display: flex;
  gap: 76px;
}

a {
  text-decoration: none;
}


